* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font: 20px/1 sans-serif;
  }

  nav {
    grid-column-start: 2;
    grid-row-start: 2;
    border: 2px solid red;
    max-height: 24.761rem;
  }


  .container {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 10% 80% 10%;
    margin: 0 auto;
    max-width: 35rem;
    width: 90%;
  }


  .header {
    grid-column-start: 1;
    grid-row-start: 1;
  }


  
  .hit {
    background-color: transparent;
    border: 2px solid black;
    padding: 0.5rem 1rem;
  }
  
  .playing-card {
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    height: 8rem;
    margin: 0.5rem;
    padding: 1rem;
    width: 6rem;
  }

  button {
    background-color: transparent;
    border: 2px solid black;
    padding: 0.5rem 1rem;
  }
  
  .table {
    background-color: darkgreen;
    display: flex;
    justify-content: space-between;
    align-items: top;
    grid-column-start: 1;
    grid-row-start: 2;
    min-height: 24.761rem;
  }

  .title {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .name {
    background-color: darkgreen;
    display: flex;
    align-items: top;
    justify-content: space-between;
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .name-dealer {
    padding-right: .5rem;
  }
  .name-user {
    padding-right: .5rem;

  }

  .user-bet {
    padding-top: .5rem;
  }

  .user-chips {
    background-color: darkgreen;
    display: flex;
    align-items: top;
    height: 1rem;
  }

  .user-chips__name {
    padding-top: .5rem;
    
  }

  .value-container {
    align-items: center;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
  }

