* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font: 20px/1 sans-serif;
  }
  
  div span {
    border: 3px dashed white;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    text-align: center;
    line-height: 120px;
  }

  .container {
    display: grid;
    grid-template-columns: 85% 15%;
    margin: 0 auto;
    max-width: 40rem;
    width: 90%;
  }

  .hit {
    background-color: transparent;
    border: 2px solid black;
    padding: 0.5rem 1rem;
  }
  
  .playing-card {
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    height: 8rem;
    margin: 0.5rem;
    padding: 1rem;
    width: 6rem;
  }
  
  .table {
    background-color: darkgreen;
    display: flex;
    justify-content: space-between;
    align-items: top;
    height: 30rem;
  }

  .name {
    background-color: darkgreen;
    display: flex;
    align-items: top;
    justify-content: space-between;
    height: 1rem;
  }

  .name-dealer {
    padding-right: .5rem;
  }
  .name-user {
    padding-right: .5rem;

  }

  .user-bet {
    padding-top: .5rem;
  }

  .user-chips {
    background-color: darkgreen;
    display: flex;
    align-items: top;
    height: 1rem;
  }

  .user-chips__name {
    padding-top: 2rem;
  }

  .value-container {
    align-items: center;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
  }

  .user-chips div:hover {
    transform: rotate(360deg);
  }